{% extends 'base.html' %}
{% block title%}
    List of Pet
{% endblock %}

{% block content %}

    <div class="container">
        <br><br>

        
        <div class="row" style="background-color:white; padding: 20px;">
            <h1>List of Pets</h1><br><br>
            {% for pet in pets%}
                <div class="col-sm-2 col-6">
                    <img src="{{pet.photo_url}}"  width="150" height="120">
        
                    <p ><a href="/{{pet.id }}"><b><span class="text-success">{{pet.name}}</span>
                    <span class="text-muted">  
                    {% if pet.available == True %}
                        is available!
                    {% else %} 
                        is adopted!   
                    {%endif%}
                    </span>  </b></a></p>   
                </div>
             
            {% endfor %}            
             
        </div>

        <div class="row" style="background-color:white; padding: 20px;">

            <form method="get" action="/add">
                                  
                <button type="submit" class="btn btn-primary" id="btn_submit">Add Pet</button>
    
            </form>
        </div>
       
    </div>        
 
{% endblock %}