{% extends 'base.html' %}
{% block title%}
    Add New Pet
{% endblock %}

{% block content %}
<div class="container">
    <div class="w-75 p-3 center" style="background-color: white; padding: 20px;"> 

        <form action="/add" method="POST">
            {{ form.hidden_tag() }} <!--add type=hidden form fields -->
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
        
                <p class="form-group">
                    {% if field.widget.input_type != 'checkbox'%}
                        {{ field.label }}
                        {{ field(class_="form-control") }}
                    {% else %}    
                        {{ field.label }}
                        {{ field  }}
                    {% endif %}    
                </p> 
              {% for error in field.errors %}
              <p class="text-danger">
                {{ error }}
              </p>
                {% endfor %}
             
            {% endfor %}
            <button type="submit" class="btn btn-primary" id="btn_submit">Save</button>
         
        </form>
    </div>
</div>
{% endblock %}